<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WineTales</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link href="../static/css/creative.min.css" rel="stylesheet"> -->
    <link href="../static/css/stylish-portfolio.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#try">Enter product</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">Recommendations</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>


  <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">WineTales</h1>
        <h3 class="mb-5">
          <em>What is your story?</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#try">Find Out More</a>
      </div>

    </header>
    
    
      <div class="overlay"></div>


     <!-- Try Section -->


    <section class="bg-primary mb-0" id="try">
     <!--<div class="loader"></div>-->
      <div class="container">
        <h2 class="text-center text-white">Please enter the LCBO or Vintages number and select the price range</h2>
        <hr class="star-light mb-5">
              <div class="col-sm m-3 text-center">
                <img src = "../static/img/LCBOexampleproduct.png", width = 400>
                    <form action="/output" method="GET" id="user_inputs"> <!-- id="user_input"-->
                    <div class="btn btn-primary" style="width:200px;">
                      <select class="form-control" type="text" id="user_input2" name="user_input2">
                        <option value="0" type="text">Select category:</option>
                        <option value="1" type="text">LCBO#</option>
                        <option value="2" type="text">Vintages#</option>
                      </select>
                    </div>
                    <div class="btn btn-primary" style="width:200px;">
                      <select class="form-control" type="text" id="user_input3" name="user_input3">
                        <option value="0" type="text">Select price range:</option>
                        <option value="2" type="text">&plusmn $10</option>
                      </select>
                    </div>
                      <input class="form-control" type="text" id="user_input" name="user_input" placeholder="e.g. LCBO# or Vintages#">
                    </form>
              </div>
       <div class="row justify-content-center twoToneCenter">
             <button type="submit" class="btn btn-secondary btn-lg twoToneCenter" form="user_inputs">Go!</button>
      </div>

      {% if my_form_result=='Empty' %}
      <div class="row mt-4 justify-content-center">
            <h4 class="text-danger text-center">Please enter product information</h4>
      </div>

      {% elif my_form_result=='NotEmpty' %}

      {% if product_available=='Available' %}

      <div class="row mt-4 justify-content-center">
            <h4 class="project-category text-white-50">Product found</h4>
      </div>
      <div class="row p-1 m-1 justify-content-center">
            <div class="col-md- w-50 list-group">
                   <ul class="list-group">
                   <h4 class="text-center">
                   <!--<li class="list-group-item d-flex justify-content-between align-items-center active">-->
                            <p>{{entered_product_info_name}}</p>
                            <p>{{entered_product_info_id}}</p>
                            <p>{{entered_product_info_price}}</p>
                            <p>{{entered_product_info_size}}</p>
                            <p>{{entered_product_info_alcohol}}</p>
                            <p>{{entered_product_info_madein}}</p>
                            <p>{{entered_product_info_madeby}}</p>
                            <p>{{entered_product_info_sugar}}</p>
                            <p>{{entered_product_info_sweetness}}</p>
                            <p>{{entered_product_info_style}}</p>
                            <p>{{entered_product_info_variety}}</p>


                          <!--</li>-->
                        </h4>
                  </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
            <img src={{entered_product_info_img}} width=400>
            <!--<img src={{my_img_name}} width=500 height=416>-->
            </div>
      </div>

      </div>
    </section>

  <!-- Portfolio Section -->
  <section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box">
            <!--Original: <a class="portfolio-box" href={{my_url1}} target="_blank"> -->
            <img class="img-fluid" src={{recomm_product_1_info_img}} alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                {{recomm_product_1_info_name}}
              </div>
              <div class="project-name">
                <p>{{recomm_product_1_info_id}}</p>
                <p>{{recomm_product_1_info_price}}</p>
                <p>{{recomm_product_1_info_size}}</p>
                <p>{{recomm_product_1_info_alcohol}}</p>
                <p>{{recomm_product_1_info_madein}}</p>
                <p>{{recomm_product_1_info_madeby}}</p>
                <p>{{recomm_product_1_info_sugar}}</p>
                <p>{{recomm_product_1_info_sweetness}}</p>
                <p>{{recomm_product_1_info_style}}</p>
                <p>{{recomm_product_1_info_variety}}</p>
              </div>
            </div>
            <!--</a>-->
        </div>
        <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box">
            <!--Original <a class="portfolio-box" href={{my_url2}} target="_blank">-->
            <img class="img-fluid" src={{recomm_product_2_info_img}} alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                {{recomm_product_2_info_name}}
              </div>
              <div class="project-name">
                <p>{{recomm_product_2_info_id}}</p>
                <p>{{recomm_product_2_info_price}}</p>
                <p>{{recomm_product_2_info_size}}</p>
                <p>{{recomm_product_2_info_alcohol}}</p>
                <p>{{recomm_product_2_info_madein}}</p>
                <p>{{recomm_product_2_info_madeby}}</p>
                <p>{{recomm_product_2_info_sugar}}</p>
                <p>{{recomm_product_2_info_sweetness}}</p>
                <p>{{recomm_product_2_info_style}}</p>
                <p>{{recomm_product_2_info_variety}}</p>
              </div>
            </div>
            <!--</a>-->
        </div>
        <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box">
            <!--Original: <a class="portfolio-box" href={{my_url3}} target="_blank">-->
            <img class="img-fluid" src={{recomm_product_3_info_img}} alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                {{recomm_product_3_info_name}}
              </div>
              <div class="project-name">
                <p>{{recomm_product_3_info_id}}</p>
                <p>{{recomm_product_3_info_price}}</p>
                <p>{{recomm_product_3_info_size}}</p>
                <p>{{recomm_product_3_info_alcohol}}</p>
                <p>{{recomm_product_3_info_madein}}</p>
                <p>{{recomm_product_3_info_madeby}}</p>
                <p>{{recomm_product_3_info_sugar}}</p>
                <p>{{recomm_product_3_info_sweetness}}</p>
                <p>{{recomm_product_3_info_style}}</p>
                <p>{{recomm_product_3_info_variety}}</p>
              </div>
            </div>
            </a>
        </div>
      </div>
    </div>
  </section>
      {% elif product_available=='NotAvailable' %}
      <div class="row mt-4 justify-content-center">
            <p><h4 class="text-danger text-center">Thank you for using WineTales</h4></p>
      </div>
      <div class="row mt-4 justify-content-center">
            <p><h4 class="text-danger text-center">Sorry the product entered could not be found</h4></p>
      </div>
      <div class="row mt-4 justify-content-center">
            <p><h4 class="text-white text-center">Here are a few suggested products you can try</h4></p>
            <p><h4 class="text-white text-center text-uppercase">LCBO# : 68924, Vintage # : 37911, Vintage # : 973453, Vintage # : 534339</h4></p>
      </div>
      {% else %}
      {% endif %}

      {% else %}
      {% endif %}      





    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://www.linkedin.com/in/isaac-chang/" target="_blank">
              <i class="icon-social-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="https://github.com/dimang777/Insight" target="_blank">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Isaac Sung Jae Chang 2019</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/stylish-portfolio.min.js"></script>



  </body>

</html>


